<div 
    class="content" 
    flex 
    layout="column"
>

    <div flex="none">
        <button
            (click)="assets()" 
            mat-stroked-button
        >
            Ativos
        </button>
    </div>

    <div>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
    </div>
</div>
