:host {
    height: 100%;
}

.container {
    background-color: #f3f3f3;
}

.toolbar {
    padding: 16px 128px;

    mat-toolbar {
        border-radius: 8px;
        background-color: #5C8374;

        .options {
            gap: 16px;
        }
    }
}