:host {
    height: 100%;
}

.container {
    background-color: #f5f7fa;
}

.toolbar {
    padding: 16px 128px;

    mat-toolbar {
        border-radius: 8px;
        background-color: #e9ecf1;

        .options {
            gap: 32px;
        }
    }
}

.footer {
    mat-tooLbar {
        background-color: #5C8374;
    }
}