<div class="container" flex layout="column">
    <div class="toolbar">
        <mat-toolbar>
            <span>VisionCare</span>

            <div 
                class="options" 
                flex
                layout="row"
                layout-align="end center"
            >
                <span routerLink="">Início</span>
                <span routerLink="assets">Ativos</span>
            </div>
        </mat-toolbar>
    </div>
    
    <div flex layout="column">
        <router-outlet></router-outlet>
    </div>

    <!-- <div class="footer">
        <mat-toolbar>
            <span>Footer</span>
        </mat-toolbar>
    </div> -->
</div>