.container {
    padding: 16px;
}

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8e8e8e; /* Cor do "ponteiro" da barra de rolagem */
    border-radius: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  ::-moz-scrollbar {
    width: 8px;
  }

  ::-moz-scrollbar-thumb {
    background-color: #8e8e8e; /* Cor do "ponteiro" da barra de rolagem */
  }

  ::-moz-scrollbar-track {
    border-radius: 8px;
    margin-block: 14px;
  }

.title {
    padding-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


.assets-cards-container {
    gap: 32px;
    max-height: 700px;
    background-color: #e9ecf1;
    border-radius: 16px;
    padding: 16px;
}

.assets-cards {
    overflow: auto;
    gap: 16px;
}

.assets-cards-wrapper {
    max-width: 450px;
    gap: 16px;
}

.cards-title {
    padding: 8px;
    background-color: #2ac88d;
    border-radius: 8px;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}

//#15a6f0 - blue
//#2ac88d - green